/** @file main.scss
 *
 *  @brief Main css file for the app.
 *  @author Lucas Ray (ltray)
 *  @author Kenneth Murphy (kmmurphy)
 */
/* imports
@import "./jquery.mobile.custom.min.css";
@import "./jquery.mobile.custom.structure.min.css";
@import "./jquery.mobile.custom.theme.min.css";
@import "./jquery-ui-1.9.2.custom.css":
*/
html {
  height: 100%;
  width: 100%; }

.gsPage {
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 0px #fff;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("../assets/green.jpg");
  background-repeat: repeat; }

.contentBubble {
  border-radius: 10px;
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background-image: url("../assets/debut_light.png");
  background-repeat: repeat;
  width: 70%;
  height: 250px;
  margin: 5px 15% 15% 15%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 8px #111;
  -moz-box-shadow: 0 0 8px #111;
  -webkit-box-shadow: 0 0 8px #111; }
  .contentBubble h1 {
    padding-top: 30px;
    font-size: 350%;
    color: #68874b; }
    .contentBubble h1 span {
      color: #42473d; }

#loginPage .contentBubble, #profilePage .contentBubble,
#editProfilePage .contentBubble {
  height: 80%;
  overflow: scroll;
  position: relative; }
  #loginPage .contentBubble #login_button, #profilePage .contentBubble #login_button,
  #editProfilePage .contentBubble #login_button {
    display: inline-block;
    text-align: center;
    width: 80%;
    padding-top: 10px; }
  #loginPage .contentBubble #login_button_internal, #profilePage .contentBubble #login_button_internal,
  #editProfilePage .contentBubble #login_button_internal {
    background: url("../assets/button_background.jpg");
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center; }
  #loginPage .contentBubble #register_button, #profilePage .contentBubble #register_button,
  #editProfilePage .contentBubble #register_button {
    background: url("../assets/button_background.jpg");
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center; }
  #loginPage .contentBubble #or_spacer, #profilePage .contentBubble #or_spacer,
  #editProfilePage .contentBubble #or_spacer {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 17px; }
  #loginPage .contentBubble #login_page_separator, #profilePage .contentBubble #login_page_separator,
  #editProfilePage .contentBubble #login_page_separator {
    margin-top: 40px;
    margin-bottom: 40px; }
  #loginPage .contentBubble #account_create_label, #profilePage .contentBubble #account_create_label,
  #editProfilePage .contentBubble #account_create_label {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold; }
  #loginPage .contentBubble table, #profilePage .contentBubble table,
  #editProfilePage .contentBubble table {
    padding: 10px;
    margin: 0 auto; }
  #loginPage .contentBubble td, #loginPage .contentBubble th, #profilePage .contentBubble td, #profilePage .contentBubble th,
  #editProfilePage .contentBubble td,
  #editProfilePage .contentBubble th {
    padding: 10px;
    margin: 10px; }
  #loginPage .contentBubble #welcomeMessageWelcome, #profilePage .contentBubble #welcomeMessageWelcome,
  #editProfilePage .contentBubble #welcomeMessageWelcome {
    color: #42473d; }
  #loginPage .contentBubble #welcomeMessage, #profilePage .contentBubble #welcomeMessage,
  #editProfilePage .contentBubble #welcomeMessage {
    color: #68874b; }
  #loginPage .contentBubble #edit_button, #loginPage .contentBubble #back_to_profile_button, #profilePage .contentBubble #edit_button, #profilePage .contentBubble #back_to_profile_button,
  #editProfilePage .contentBubble #edit_button,
  #editProfilePage .contentBubble #back_to_profile_button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #e8e8e8;
    background-color: #424242;
    border-radius: 5px;
    -mox-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px; }
  #loginPage .contentBubble #logout_button, #profilePage .contentBubble #logout_button,
  #editProfilePage .contentBubble #logout_button {
    position: absolute;
    top: 40px;
    right: 10px;
    text-decoration: none;
    color: #e8e8e8;
    background-color: #424242;
    border-radius: 5px;
    -mox-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px;
    cursor: pointer; }
  #loginPage .contentBubble #info_label, #loginPage .contentBubble #home_label, #profilePage .contentBubble #info_label, #profilePage .contentBubble #home_label,
  #editProfilePage .contentBubble #info_label,
  #editProfilePage .contentBubble #home_label {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 35px;
    color: rgba(66, 71, 61, 0.7);
    padding-top: 10px; }
  #loginPage .contentBubble #home_label, #profilePage .contentBubble #home_label,
  #editProfilePage .contentBubble #home_label {
    padding-top: 15px;
    padding-bottom: 15px; }
  #loginPage .contentBubble .info_item, #profilePage .contentBubble .info_item,
  #editProfilePage .contentBubble .info_item {
    font-family: 'Playfair Display SC', serif;
    width: 50%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 15px; }
    #loginPage .contentBubble .info_item .left_item, #profilePage .contentBubble .info_item .left_item,
    #editProfilePage .contentBubble .info_item .left_item {
      float: left;
      color: rgba(36, 118, 237, 0.85); }
    #loginPage .contentBubble .info_item .right_item, #profilePage .contentBubble .info_item .right_item,
    #editProfilePage .contentBubble .info_item .right_item {
      float: right;
      color: rgba(11, 11, 11, 0.9); }
  #loginPage .contentBubble #editprofile_label, #profilePage .contentBubble #editprofile_label,
  #editProfilePage .contentBubble #editprofile_label {
    color: #42473d; }
  #loginPage .contentBubble #editprofile_profile_label, #profilePage .contentBubble #editprofile_profile_label,
  #editProfilePage .contentBubble #editprofile_profile_label {
    color: #68874b; }
  #loginPage .contentBubble label, #profilePage .contentBubble label,
  #editProfilePage .contentBubble label {
    float: left;
    font-family: 'Playfair Display SC', serif;
    color: rgba(36, 118, 237, 0.85);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 3px; }
  #loginPage .contentBubble #puf_button, #profilePage .contentBubble #puf_button,
  #editProfilePage .contentBubble #puf_button {
    border-radius: 10px;
    -mox-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    background: url("../assets/button_background.jpg");
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center;
    cursor: pointer; }

#searchBar {
  border-radius: 5px;
  -mox-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  height: 30px;
  box-shadow: 0 0 2px #111;
  -moz-box-shadow: 0 0 2px #111;
  -webkit-box-shadow: 0 0 2px #111; }

.navBar {
  position: relative;
  width: 70%;
  text-align: right;
  margin: 20px 0px 30px 40px; }
  .navBar .navBtn {
    position: relative;
    display: inline-block;
    margin-right: 10%;
    text-align: center; }
    .navBar .navBtn h2 {
      font-size: 18px;
      color: #42473d;
      cursor: pointer; }
    .navBar .navBtn h2:hover {
      color: black;
      cursor: pointer; }
    .navBar .navBtn img {
      bottom: -37px;
      position: absolute;
      z-index: 100; }

#mapView .contentBubble {
  padding: 10px;
  padding-bottom: 40px;
  height: 80%;
  position: relative; }
  #mapView .contentBubble #filterOverlay {
    border-radius: 10px;
    -mox-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    background-image: url("../assets/button_background.jpg");
    background-color: rgba(120, 120, 120, 0.8);
    position: absolute;
    bottom: 10px;
    left: -5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 150%;
    overflow: visible;
    cursor: pointer; }
    #mapView .contentBubble #filterOverlay h2 {
      position: relative;
      top: 5px; }

#map_canvas {
  height: 100%;
  width: 100%; }

#filterPage .contentBubble {
  height: 80%;
  text-align: left;
  overflow: auto;
  position: relative; }
  #filterPage .contentBubble h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 180%;
    text-decoration: underline; }
  #filterPage .contentBubble h3 {
    font-size: 120%;
    padding-top: 12px;
    padding-left: 20px; }
  #filterPage .contentBubble #rtnMapBtn {
    background-image: url("../assets/button_background.jpg");
    background-color: rgba(120, 120, 120, 0.8);
    position: absolute;
    left: -5px;
    right: -5px;
    text-align: center;
    height: 30px;
    font-size: 150%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    overflow-x: hidden;
    cursor: pointer; }
    #filterPage .contentBubble #rtnMapBtn h5 {
      position: relative;
      top: 5px; }

.rangeSlider {
  width: 90%;
  margin: 5px 0px 15px 5%;
  height: 60px;
  position: relative; }
  .rangeSlider .sliderMin {
    position: relative;
    float: left;
    width: 100%;
    height: 30px; }
    .rangeSlider .sliderMin input.ui-input-text, .rangeSlider .sliderMin textarea.ui-input-text {
      width: 100px;
      float: left; }
    .rangeSlider .sliderMin div.ui-slider {
      top: 16px;
      left: 5px;
      float: left;
      width: 70%; }
  .rangeSlider .sliderMax {
    width: 100%;
    height: 30px;
    position: absolute;
    float: left; }
    .rangeSlider .sliderMax input.ui-input-text, .rangeSlider .sliderMax textarea.ui-input-text {
      position: absolute;
      width: 100px;
      right: 0px; }
    .rangeSlider .sliderMax div.ui-slider {
      top: 16px;
      left: 105px;
      width: 70%; }

#msgDiv {
  margin-top: 5px;
  width: 100%;
  text-align: center; }

.noMsg {
  visibility: hidden;
  transition: visibility 1s; }

.showMsg {
  transition: visibility 1s;
  color: #99c76f;
  font-size: 150%;
  visability: visible; }

.marker_header {
  font-family: Arial, sans-serif; }
  .marker_header .child_street {
    width: 100%;
    float: left;
    color: #69b725;
    font-size: 18px;
    font-weight: bold; }
  .marker_header .child_city {
    float: right;
    color: #c1bfbf;
    font-size: 12px; }
  .marker_header .child_state {
    float: right;
    color: #c1bfbf;
    font-size: 12px; }
  .marker_header .child_zipcode {
    float: right;
    color: #c1bfbf;
    font-size: 12px; }

.marker_stats .child_sqFt {
  float: right;
  color: gainsboro;
  font-size: 15px; }
.marker_stats .child_numBed {
  float: left;
  color: gainsboro;
  font-size: 15px; }
.marker_stats .child_numBath {
  float: left;
  color: gainsboro;
  font-size: 15px; }

.marker_results {
  min-height: 26px; }
  .marker_results .child_priceEst {
    float: left;
    color: #ea7221;
    font-size: 18px;
    font-weight: bold; }
  .marker_results .child_greenscore {
    float: right;
    color: #69b725;
    font-size: 18px;
    font-weight: bold; }

.marker_footer .child_lat {
  font-size: 9px;
  float: left;
  color: #c1bfbf; }
.marker_footer .child_long {
  font-size: 9px;
  float: left;
  color: #c1bfbf; }
.marker_footer .child_zpid {
  font-size: 9px;
  float: right;
  color: #c1bfbf; }

.buttonWrapper {
  display: inline-block;
  text-align: center;
  width: 80%;
  padding-top: 10px; }

*[data-role="button"] {
  border-radius: 5px;
  -mox-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background: url("../assets/button_background.jpg");
  box-shadow: 0 0 3px #111;
  -moz-box-shadow: 0 0 3px #111;
  -webkit-box-shadow: 0 0 3px #111;
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  font: Arial, sans-serif;
  text-shadow: none;
  cursor: pointer; }

#loading_div, #alert_modal_wrapper {
  border-radius: 10px;
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #505050;
  padding: 30px; }

#loading_text, #alert_modal_text {
  padding-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center; }

#loading_gif {
  display: inline-block;
  text-align: center;
  padding-left: 30px; }

.bordered {
  border: solid thin #5a5a5a;
  box-shadow: 0 0 3px #111;
  -moz-box-shadow: 0 0 3px #111;
  -webkit-box-shadow: 0 0 3px #111; }
