/** @file main.scss
 *
 *  @brief Main css file for the app.
 *  @author Lucas Ray (ltray)
 *  @author Kenneth Murphy (kmmurphy)
 */

/* imports
@import "./jquery.mobile.custom.min.css";
@import "./jquery.mobile.custom.structure.min.css";
@import "./jquery.mobile.custom.theme.min.css";
@import "./jquery-ui-1.9.2.custom.css":
*/

// variables
$green: #99c76f;
$darkGreen: #68874B;
$gray: #42473D;
$transGray: rgba(66, 71, 61, 0.7);
$transBlue: rgba(36, 118, 237, 0.85);
$transBlack: rgba(11, 11, 11, 0.9);
$offwhite: rgb(232, 232, 232);
$offblack: rgb(66, 66, 66);

@mixin roundEdges($weight) {
  border-radius: $weight;
  -mox-border-radius: $weight;
  -webkit-border-radius: $weight;
  -o-border-radius: $weight;
}

html {
  height: 100%;
  width: 100%;
}

.gsPage {
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 0px #fff;

  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("../assets/green.jpg");
  background-repeat: repeat;
}


.contentBubble {
  @include roundEdges(10px);

  background-image: url("../assets/debut_light.png");
  background-repeat: repeat;

  width: 70%;
  height: 250px;
  margin: 5px 15% 15% 15%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  box-shadow: 0 0 8px #111;
  -moz-box-shadow: 0 0 8px #111;
  -webkit-box-shadow: 0 0 8px #111;

  h1 {
    padding-top: 30px;
    font-size: 350%;
    color: $darkGreen;
    span {
      color: $gray;
    }
  }
}

// special case login page
#loginPage .contentBubble, #profilePage .contentBubble,
#editProfilePage .contentBubble {
  height: 80%;
  overflow: scroll;
  position: relative;

  // special case these because this css is janky
  #login_button {
    background: url("../assets/button_background.jpg");

    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center;
  }

  #register_button {
    background: url("../assets/button_background.jpg");

    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center;
  }

  #or_spacer {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 17px;
  }

  #login_page_separator {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #account_create_label {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  table {
    padding: 10px;
    margin: 0 auto;
  }
  td, th {
    padding: 10px;
    margin: 10px;
  }

  // profile page
  #welcomeMessageWelcome {
    color: $gray;
  }

  #welcomeMessage {
    color: $darkGreen;
  }
  #edit_button, #back_to_profile_button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: $offwhite;

    background-color: $offblack;
    @include roundEdges(5px);
    padding: 3px;

    border: solid thin rgb(90, 90, 90);

    box-shadow: 0 0 3px #111;
    -moz-box-shadow: 0 0 3px #111;
    -webkit-box-shadow: 0 0 3px #111;
  }

  #info_label, #home_label {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 35px;
    color: $transGray;
    padding-top: 10px;
  }

  #home_label {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .info_item {
    font-family: 'Playfair Display SC', serif;
    width: 50%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;

    .left_item {
      float: left;
      color: $transBlue;
    }

    .right_item {
      float: right;
      color: $transBlack;
    }
  }

  // edit profile page
  #editprofile_label {
    color: $gray;
  }
  #editprofile_profile_label {
    color: $darkGreen;
  }

  label {
    float: left;
    font-family: 'Playfair Display SC', serif;
    color: $transBlue;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 3px;
  }

  #puf_button {
    @include roundEdges(10px);
    background: url("../assets/button_background.jpg");

    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font: Arial, sans-serif;
    text-shadow: none;
    text-align: center;

    cursor: pointer;
  }
}

#searchBar {
    @include roundEdges(5px);
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 30px;

    box-shadow: 0 0 2px #111;
    -moz-box-shadow: 0 0 2px #111;
    -webkit-box-shadow: 0 0 2px #111;
}

.navBar {
  position: relative;
  width: 70%;
  text-align:right;
  margin: 20px 0px 30px 15%;
  .navBtn {
    position: relative;
    display: inline-block;
    margin-right: 10%;
    text-align: center;

    h2 {
      font-size: 18px;
      color: $gray;
      cursor: pointer;
    }
    h2:hover{
      color: black;
      cursor: pointer;
    }
    img {
      bottom: -37px;
      position: absolute;
      z-index: 100;
    }
  }
}


#mapView .contentBubble{
  padding: 10px;
  padding-bottom: 40px;
  height: 80%;
  position: relative;

  #filterOverlay {
    @include roundEdges(10px);
    background-image: url("../assets/button_background.jpg");
    background-color: rgba(120,120,120,.8);
    position:absolute;
    bottom: 10px;
    left:-5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 150%;
    overflow: visible;
    cursor: pointer;
    h2 {
      position: relative;
      top: 5px;
    }
  }
}

#map_canvas {
    height: 100%;
    width: 100%;
}

#filterPage .contentBubble {
    height: 80%;
    text-align: left;
    overflow: auto;
    position: relative;

    h2 {
      padding-top: 15px;
      text-align: center;
      font-size: 180%;
      text-decoration: underline;
    }

    h3 {
      font-size: 120%;
      padding-top: 12px;
      padding-left: 20px;
    }
    #rtnMapBtn{
        background-image: url("../assets/button_background.jpg");
        background-color: rgba(120,120,120,.8);
        position:absolute;
        left:-5px;
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 150%;
        overflow: visible;
        cursor: pointer;
        h5 {
           position: relative;
           top: 5px;
        }
    }
}


.rangeSlider{
  width: 90%;
  margin: 5px 0px 15px 5%;
  height: 60px;
  position: relative;
  
  .sliderMin {
    position: relative;
    float:left;
    width: 100%;
    height: 30px;      
    input.ui-input-text, textarea.ui-input-text {
      width: 100px;
      float: left;
    }
    div.ui-slider {
      top: 16px;
      left: 5px;
      float: left;
      width: 70%;
    }
  }

  .sliderMax {
    width: 100%;
    height: 30px;
    position: absolute;
    float:left;
    input.ui-input-text, textarea.ui-input-text {
      position: absolute;
      width: 100px;
      right: 0px;
    }
    div.ui-slider {
      top: 16px;
      left: 105px;
      width: 70%;
    }
  }
}

#msgDiv{
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.noMsg {
  visibility: hidden;
  transition: visibility 1s;
}

.showMsg {
  transition: visibility 1s;
  color: $green;
  font-size: 150%;
  visability: visible;
}



// size variables
$LARGE_TEXT: 18px;
$MED_TEXT: 15px;
$SMALL_TEXT: 12px;
$VERYSMALL_TEXT: 9px;

// color variables
$GREEN: rgb(105, 183, 37);
$GRAY: rgb(193, 191, 191);
$WHITE: rgb(220, 220, 220);
$ORANGE: rgb(234, 114, 33);

.marker_header {
  font-family: Arial, sans-serif;

  .child_street {
    width: 100%;
    float: left;
    color: $GREEN;
    font-size: $LARGE_TEXT;
    font-weight: bold;
  }

  .child_city {
    float: right;
    color: $GRAY;
    font-size: $SMALL_TEXT;
  }

  .child_state {
    float: right;
    color: $GRAY;
    font-size: $SMALL_TEXT;
  }

  .child_zipcode {
    float: right;
    color: $GRAY;
    font-size: $SMALL_TEXT;
  }
}

.marker_stats {
  .child_sqFt {
    float: right;
    color: $WHITE;
    font-size: $MED_TEXT;
  }

  .child_numBed {
    float: left;
    color: $WHITE;
    font-size: $MED_TEXT;
  }

  .child_numBath {
    float: left;
    color: $WHITE;
    font-size: $MED_TEXT;
  }
}

.marker_results {
  min-height: 26px;

  .child_priceEst {
    float: left;
    color: $ORANGE;
    font-size: $LARGE_TEXT;
    font-weight: bold;
  }

  .child_greenscore {
    float: right;
    color: $GREEN;
    font-size: $LARGE_TEXT;
    font-weight: bold;
  }
}

.marker_footer {
  .child_lat {
    font-size: $VERYSMALL_TEXT;
    float: left;
    color: $GRAY;
  }

  .child_long {
    font-size: $VERYSMALL_TEXT;
    float: left;
    color: $GRAY;
  }

  .child_zpid {
    font-size: $VERYSMALL_TEXT;
    float: right;
    color: $GRAY;
  }
}

// buttons
.buttonWrapper {
  display: inline-block;
  text-align: ceneter;
  width: 80%;
  padding-top: 10px;
}

*[data-role="button"] {
  @include roundEdges(10px);
  background: url("../assets/button_background.jpg");

  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  font: Arial, sans-serif;
  text-shadow: none;

  cursor: pointer;
}

// loading screen
#loading_div {
  @include roundEdges(10px);
  background-color: rgb(80, 80, 80);
  padding: 30px;
}

#loading_text {
  padding-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#loading_gif {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
}

.bordered {
  border: solid thin rgb(90, 90, 90);

  box-shadow: 0 0 3px #111;
  -moz-box-shadow: 0 0 3px #111;
  -webkit-box-shadow: 0 0 3px #111;
}
