/** @file mobile.scss
 *
 *  @brief css file for the mobile version of the app.
 *  
 *  @author Kenneth Murphy (kmmurphy)
 */

@mixin roundEdges($weight) {
  border-radius: $weight;
  -mox-border-radius: $weight;
  -webkit-border-radius: $weight;
  -o-border-radius: $weight;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
  .contentBubble {
    width: 90%;
    padding: 0px;
    margin: 5px 5%;
    height: 200px;
    h1 {
      font-size:340%;
    }

    input{
      margin-top: 15px;
      width: 74%;
      margin-left: 13%;
    }
  }

  .navBar {
    .navBtn {
      margin-right: 6%;    
      h2{
        font-size: 16px;
      }
    }
  }

  #mapView .contentBubble {
    padding: 0px;

  }
  
  #map_canvas {
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
  }



  #queryBtn {
    width: 50%;
    height: 25px;
    margin-top: 10px;
    margin-left: 25%;
    display: block;
    text-align: center;
    @include roundEdges(5px);
   

    border: 1px solid #6E6E6E;
    box-shadow: 0 0 3px #111;
    -moz-box-shadow: 0 0 3px #111;
    -webkit-box-shadow: 0 0 3px #111;
    h2 {
       color: #616161;
       margin-top: 4px;
       font-weight: normal;
       letter-spacing: 2px;
       font: Arial, sans-serif;
       text-shadow: none;
    }
    cursor: pointer;
  }

  #filterPage .contentBubble h3 {
    

  } 


  .rangeSlider {
    margin: 0 3%;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%; 
    height: 80px;
    .sliderMin {
      input.ui-input-text, textarea.ui-input-text {
        margin-left: 0;
        width: 90px;       
      }
      div.ui-slider {
        width: 76%;
        margin-left: 12%;
        top: 10px;
      }
    }
    .sliderMax {
      input.ui-input-text, textarea.ui-input-text {
        margin-left: 0;
        width: 90px;
        right: 0px;
        top: 0px;
      }
      div.ui-slider {
        width: 76%;
        margin-left: 12%;
        top: 70px;
        left: 0
      }
    }
  }
}
