<div class = "center">
	<div class = "btn-group btn-group-lg">
	<%= link_to 'Houses', "houses", class: "btn btn-default"%>
	<%= link_to 'Reviews', "reviews", class: "btn btn-default"%>
	<%= link_to 'comparison', "comparison", class: "btn btn-default" %>
	</div>
</div>